* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #FFF2C6;
    display: grid;
}

header {
    background-image: url(./img/International_Pokémon_logo.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20vh;
    align-items: center;
    justify-content: flex-end;
}

.listar_card{
    display: flex;
    gap: 32px;
}

.card{
    height: 228px;
    width: 186px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
    background-image: linear-gradient(to bottom, #fff 52%, #FFC397 48%);
    display: grid;
    padding: 16px;
}