
/* resposividade */
@media (max-width: 745px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 6px;
        grid-row-gap: 20px;
    }

    .card1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .card3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .card4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .card5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .card6 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .card7 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .card8 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .card9 {
        grid-area: 5 / 1 / 6 / 3;
    }
}

@media (max-width: 425px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(5, 170px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    header {
        background-position: center;
    }

    a {
        font-size: 20px;
    }

    .card {
        height: 160px;
        width: 120px;
    }

    .card1 img {
        width: 115px;
        height: 83px;
    }

    .card2 img {
        width: 115px;
        height: 87px;
    }

    .card3 img {
        width: 115px;
        height: 87px;
    }

    .card4 img {
        width: 115px;
        height: 86px;
    }

    .card5 img {
        width: 115px;
        height: 88px;
    }

    .card6 img {
        width: 115px;
        height: 86px;
    }

    .card7 img {
        width: 115px;
        height: 85px;
        border-top-left-radius: 50px;
    }

    .card8 img {
        width: 130px;
        height: 85px;
    }

    .card9 img {
        width: 115px;
        height: 84px;
    }

    .card1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .card3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .card4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .card5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .card6 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .card7 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .card8 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .card9 {
        grid-area: 5 / 1 / 6 / 2;
    }
}