* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #FFF2C6;
}

header {
    background-image: url(./img/International_Pokémon_logo.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20vh;
    align-items: center;
    justify-content: flex-end;
}

main {
    height: 60vh;
}

.cards {
    height: 80vh;
    width: 100vw;
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 280px);
    grid-template-rows: repeat(2, 290px);
    grid-column-gap: 4px;
    grid-row-gap: 6px;
    align-items: center;
}

.card {
    height: 228px;
    width: 186px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
    background-image: linear-gradient(to bottom, #fff 52%, #FFC397 48%);
}

.card:hover {
    box-shadow: 0px 0px 8px #000;
    transform: scale(1.05);
}


/* card - geração 1 pokemon */
.card1 {
    grid-area: 1 / 1 / 2 / 2;
}

.card1 img {
    width: 185px;
    height: 120px;
    left: 10px;
}


/* card - geração 2 pokemon */
.card2 {
    grid-area: 1 / 2 / 2 / 3;
}

.card2 img {
    width: 185px;
    height: 125px;
}

/* card - geração 3 pokemon */
.card3 {
    grid-area: 1 / 3 / 2 / 4;
}

.card3 img {
    width: 185px;
    height: 120px;
    border-top-right-radius: 50px;
}

/* card - geração 4 pokemon */
.card4 {
    grid-area: 1 / 4 / 2 / 5;
}

.card4 img {
    width: 185px;
    height: 120px;
    border-top-left-radius: 50px;
}

/* card - geração 5 pokemon */
.card5 {
    grid-area: 1 / 5 / 2 / 6;
}

.card5 img {
    width: 185px;
    height: 120px;
}

/* card - geração 6 pokemon */
.card6 {
    grid-area: 2 / 2 / 3 / 3;
}

.card6 img {
    width: 185px;
    height: 120px;
    border-top-right-radius: 50px;
}

/* card - geração 7 pokemon */
.card7 {
    grid-area: 2 / 3 / 3 / 4;
}

.card7 img {
    width: 185px;
    height: 120px;
    border-top-right-radius: 50px;
}


/* card - geração 8 pokemon */
.card8 {
    grid-area: 2 / 4 / 3 / 5;
}

.card8 img {
    width: 185px;
    height: 120px;
    left: 100px;
}

/* card - geração 9 pokemon */
.card9 {
    grid-area: 2 / 5 / 3 / 6;
}

.card9 img {
    width: 185px;
    height: 120px;
}

a {
    color: #DB6E30;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
}



